body {
	background-color: grey;
	color: red
}
li {
	display: inline;
	width: 100px;
	text-decoration: none;
}
ul {
	display: inline;
	list-style-type: none;
}
p{
	font-family: helvetica;
	color: purple;
}